#Change the content of this file to include your API keys and model name, if you want to fetch the data yourself.
#But it takes a long time to fetch, so you can also just use the already fetched and analysed data in the data folder.

GUARDIAN_API_KEY ="Your Guardian API Key"
OPENAI_API_KEY="Your OPENAI API Key"
OPENAI_MODEL="The model you're using, I used gpt-5-mini."
